.post_tags {
  padding: 15px 0;
}

.tags {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags li {
  padding: 5px;
}

.tags li a {
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.2em;
  color: #18a0af;
}